		body{
      font-family: Roboto;
      /*background-image:url("https://www.slideteam.net/media/catalog/product/cache/960x720/c/o/colorful_books_in_vertical_order_making_border_stock_photo_Slide01.jpg");*/
     background: linear-gradient(-45deg, #f8e1da , #b443e9 80%);
      
      /*#ee7752 , #e73c7e, #23a6d5, #16ddaf 80%)*/
		}
		.list-group-item{
      margin: 1em;
    }
    .subject_name{
    	color: rgb(2, 22, 44);
    }
    .container{
      margin-top: 1em;
      padding-bottom: 1em;
    }
    .list-group-item{
      background-color: rgb(162, 247, 250);
      color: rgb(25, 119, 48);
      font-weight: bold;
     
      text-align: center;
    }
    .list-group .main-item {
      background-color: rgb(234, 236, 113);
      color: rgb(5, 0, 0);
      letter-spacing: .05em;
      margin: auto;
      text-align: center;
      font-size: 38px;
    }
    .btn {
      background-color: rgb(226, 186, 159);
      border:solid;
      border-style:inset ;
      padding: 6px 15px;
      cursor: pointer;
      font-size: 15px;
      color: rgb(27, 3, 3);
    }
    .list-group-item{
      font-size: 24px;
    }
		h6{
			margin-top: 1em;
			margin-left: 1.5em;
			font-weight: bold;
    }
    .image1 {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 150px;
    }
    
    .image2{
      border-radius: 50%;
      width: 250px;
      height: 300px;
      margin: auto;
      padding: 8px;
    }

		.feedback{
			color: black
		}		